Django==1.5.1
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Tkinter==0.0.0
Werkzeug==0.9.4
altgraph==0.11
backports==1.0
backports.ssl-match-hostname==3.4.0.2
gdbm==2.7.6
itsdangerous==0.24
lcm==1.0.0
libxml2-python==2.9.1
macholib==1.6
modulegraph==0.11
nose==1.3.0
numpy==1.8.0
py2app==0.8
pycairo==1.10.0
pygame==1.9.1release
pyobjc-framework-Cocoa==2.5.1
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013d
scipy==0.13.3
six==1.5.2
tornado==3.2
virtualenv==1.11.4
wsgiref==0.1.2
